# Python
__pycache__/
*.py[cod]

# Virtual environment
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# Landsat / raster data
*.TIF
*.tif
*.TIF.gz

# Raw satellite data
data/raw/

# Processed raster data
data/processed/

# Generated outputs
data/output/
data/outputs/

# Environment variables
.env


# Ignore unwanted Lucknow figures
figures/lucknow/lst_celsius_lucknow.png
figures/lucknow/lst_uncertainty_lucknow.png
figures/lucknow/lucknow_quality_mask.png
figures/lucknow/red_lucknow_reflectance.png
figures/lucknow/nir_lucknow_reflectance.png
figures/lucknow/swir1_lucknow_reflectance.png
figures/lucknow/swir2_lucknow_reflectance.png
figures/lucknow/green_lucknow_reflectance.png
figures/notebook_3/tsharp_absolute_error.png